<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 定义连接池bean对象 -->
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="sa"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="url" value="jdbc:sqlserver://localhost;DatabaseName=WITXBFL"></property>
	</bean>
	<!-- 定义sqlSessionFactorybean对象 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 获得连接资源 -->
		<property name="dataSource" ref="myDataSource"></property>
		<!-- 指定映射文件-->
		<property name="mapperLocations" value="classpath:cn/wit/zhangwei/entity/*.xml"></property>
	</bean>
	<!--
		定义MapperFactoryBean:一个Mapper就需要定义一个对应的MapperFactoryBean <bean
		id="deptDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
		value="org.tarena.dao.DeptMapperDao"></property> <property
		name="sqlSessionFactory" ref="sqlSessionFactoryBean"></property>
		</bean>
	-->
	<!-- 使用MapperScannerConfigurer替代MapperFactoryBean -->
			<bean id="mapperScanner"
				class="org.mybatis.spring.mapper.MapperScannerConfigurer">
				<!-- 指定MapperDao接口所在包 -->
				<property name="basePackage" value="cn.wit.zhangwei.dao"></property>
				<!-- 指定带有@MyBatisDao标记的才当作Mapper处理 -->
				<property name="annotationClass" value="cn.wit.zhangwei.annotation.MyBatisDao"></property>
				<!-- sqlSessionFactoryBean已经默认注入，不需要再注入了 -->
		</bean>

	<!-- Spring MVC -->
	<!--  用组件扫描实现注解方式 -->
	<context:component-scan base-package="cn.wit.zhangwei" />
	<!-- 定义注解驱动 -->
	<!-- 支持@RequestMapping请求和Controller映射 -->
	<mvc:annotation-driven />
	<!-- 定义视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>			
